.main-shop {
  background-color: azure;
}

.shop-easy65 {
  font-family: "Lobster", cursive;
}

.shop-easy65:hover {
  color: crimson;
}

.easy65Icon {
  color: crimson;
}

.productCart {
  display: flex;
  flex-wrap: wrap;
}

.addCart {
  font-size: 15px;
  margin-left: 3px;
  color: gold;
}

.addToCartBtn {
  text-decoration: none;
  color: white;
}
.addToCartBtn:hover {
  color: crimson;
}

.allLink {
  margin: 0px 8px;
  color: white;
  text-decoration: none;
}
.allLink:hover {
  color: crimson;
}
