.main-shop {
  background-color: azure;
}

.shop-easy65 {
  font-family: "Lobster", cursive;
}

.shop-easy65:hover {
  color: crimson;
}

.easy65Icon {
  color: crimson;
}

.productCart {
  display: flex;
  flex-wrap: wrap;
}

.addCart {
  font-size: 15px;
  margin-left: 3px;
  color: gold;
}

.addToCartBtn {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
.addToCartBtn:hover {
  color: crimson;
}

.allLink {
  margin: 0px 8px;
  color: white;
  text-decoration: none;
}
.allLink:hover {
  color: crimson;
}

.productSearchBar {
  border: 0.5rem solid #9e9e9e;
  outline: none;
  padding: 5px 15px;
  width: 73vw;
  background-color: #ffffff;
}

.search-area {
  margin-top: 10px;
}

.searchButton {
  margin-left: 8px;
  border: none;
  outline: none;
  padding: 13px 15px;
  background-color: #333333;
  color: white;
  text-align: center;
}

.searchButton:hover {
  background-color: goldenrod;
}

.discount {
  color: red;
  font-weight: bold;
  font-style: italic;
}

.scrollText {
  color: white;
  /* border: 1px solid yellow; */
}
