.About {
  height: 100vh;
}

.about-title {
  text-align: center;
  background-color: #006699;
  color: white;
  padding: 80px 0;
}

.about-text {
  text-align: start;
  padding: 40px 120px;
  font-size: 20px;
  font-weight: 450;
}
