.logoDesign {
  padding: 3px;
  border-radius: 100px;
  background-color: orangered;
  margin-right: 6px;
}

.mainLogo {
  color: white;
}

.e65 {
  font-family: "Lobster", cursive;
  font-size: 20px;
  font-weight: normal;
}

.icon {
  font-size: 20px;
  margin-right: 8px;
}
.iconLast {
  font-size: 20px;
}

.iconLink {
  color: black;
}

.iconLink:hover {
  color: brown;
}

.text h1,
p {
  color: #333333;
}
.catagories-card {
  display: flex;
}
.catagories-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}
.catagoriesName {
  /* border: 1px solid black; */
  width: 300px;
  height: 261px;
  text-align: center;
  margin: 50px 30px;
  overflow: hidden;
  position: relative;
}

.catagoriesName img {
  width: 100%;
  transition: 1s;
}

.catagoreName {
  position: absolute;
  top: 0px;
  display: none;
  width: 300px;
  height: 261px;
}

.catagoriesName:hover .catagoreName {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
.catagoriesName:hover .catagoreName h2 {
  color: white;
  margin-top: 100px;
}

.catagoriesName:hover img {
  transform: scale(1.2);
  transition: transform 1s;
}

.delivery {
  display: flex;
}

.support {
  border-right: 1px solid black;
  width: 250px;
  text-align: center;
  margin: 20px 10px;
  padding: 25px;
}
.lastSupport {
  width: 250px;
  text-align: center;
  margin: 20px 10px;
  padding: 25px;
}
.deliveryIcon {
  font-size: 50px;
}

.delivery:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}

.mainFooter {
  border: 1px solid black;
  background-color: #212529;
}

.mainFooter p {
  color: white;
}

.footer-area {
  display: flex;
  padding: 50px;
}

.footer-box {
  /* border: 1px solid black; */
  width: 350px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  color: white;
}
.footer-box p {
  color: white;
}

.footer-box a {
  text-decoration: none;
  color: white;
}

.footerEasy65 {
  font-family: "Lobster", cursive;
  font-size: 45px;
}

.footerLogo {
  font-size: 30px;
  color: orangered;
  margin-right: 8px;
}

.developerTag a {
  text-decoration: none;
  font-family: "Lobster", cursive;
  color: #f20d0d;
}
.developerTag:hover {
  text-decoration: underline;
  color: white;
}
