/* .Contact {
  background-color: #33cccc;
  height: 100vh;
}

.contact-area {
  padding: 60px;
  background-color: #313131;
  border-radius: 33px 0px;
}

.contact-area h2 {
  text-align: center;
  color: white;
}

.contact-area input {
  margin-bottom: 10px;
  width: 350px;
  height: 40px;
  background-color: white;
  padding: 0px 10px;
  outline-color: crimson;
}

.contact-area textarea {
  width: 350px;
  height: 90px;
  padding: 0px 10px;
  outline-color: crimson;
}

.feedbackButton {
  border: 1px solid black;
  background-color: white;
  color: #333333;
  transition: 0.5s;
  font-weight: bold;
}
.feedbackButton:hover {
  background-color: #333333;
  color: white;
  transition: 0.5s;
} */
