.Contact {
  background-color: #ececec;
  height: 100vh;
}

.contact-area {
  padding: 50px;
  background-color: #333333;
  border-radius: 0px 23px;
}

.feedback {
  text-align: center;
  color: white;
}

.input-area {
  width: 300px;
  padding: 5px 8px;
  margin-bottom: 10px;
  outline-color: white;
  border: none;
}
.textarea-area {
  border: none;
  width: 300px;
  padding: 5px 8px;
  outline-color: white;
  margin-bottom: 5px;
}

.feedBackBtn {
  width: 300px;

  padding: 5px 8px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: slateblue;
}

.feedBackBtn:hover {
  background-color: #ffcc66;
  color: #333333;
}
